PORT ="PORT NUMBER"
DATABASE_URL="YOUR CONNECTION STRING HERE"
APP_URL ="YOUR APP URL"
BCRYPT_SALT_ROUNDS = BCRYPT SALT ROUNDS
JWT_ACCESS_SECRET = JWT ACCESS SECRET
JWT_REFRESH_SECRET = JWT REFRESH SECRET
JWT_ACCESS_EXPIRES_IN= 
JWT ACCESS EXPIRES TIME
JWT_REFRESH_EXPIRES_IN =JWT REFRESH EXPIRES TIME
STRIPE_PRODUCT_PRICE_ID  = YOUR STRIPE PRODUCT PRICE KID
STRIPE_SECRET_KEY  = STRIPE SECRET KEY
STRIPE_WEBHOOK_SECRET = STRIPE WEBHOOK SECRET